<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <a class="navbar-brand" routerLink="/">Comparador de precios</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/categorias" routerLinkActive="active">Buscar productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carrito" routerLinkActive="active">Buscar sucursales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sucursales" routerLinkActive="active">Como funciona</a>
      </li>
    </ul>

    <div class="d-flex">
      <button class="btn btn-light btn-sm me-2">ES</button>
      <button class="btn btn-light btn-sm">EN</button>
    </div>
  </div>
</nav>